Workflows/ExpenseReportProcess-AF2743E4-01D5-EA11-A813-000D3A579C9D.json
{"properties":{"connectionReferences":{"shared_approvals":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_approvals"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}},"shared_office365":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_office365"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_record_is_created,_updated_or_deleted":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"new_expenses","subscriptionRequest/scope":4,"subscriptionRequest/filterexpression":"new_expensestatus eq 100000001"},"authentication":"@parameters('$authentication')"}}},"actions":{"Start_and_wait_for_an_approval":{"runAfter":{"App_Link":["Succeeded"]},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval","apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals"},"parameters":{"approvalType":"Basic","WebhookApprovalCreationInput/title":"New Expense Submitted for Approval: @{triggerOutputs()?['body/new_name']}","WebhookApprovalCreationInput/assignedTo":"@triggerOutputs()?['body/new_approvername']","WebhookApprovalCreationInput/details":"Expense: @{triggerOutputs()?['body/new_name']}\nStart Date: @{formatDateTime(triggerOutputs()?['body/new_startdate'],'MMM dd yyyy')}\nEnd Date: @{formatDateTime(triggerOutputs()?['body/new_enddate'],'MMM dd yyyy')}","WebhookApprovalCreationInput/itemLink":"@{variables('varAppLink')}&ExpenseID=@{triggerOutputs()?['body/new_expensesid']}","WebhookApprovalCreationInput/itemLinkDescription":"@triggerOutputs()?['body/new_name']","WebhookApprovalCreationInput/requestor":"@outputs('Get_Requestor')?['body/internalemailaddress']","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":false},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"Apply_to_each":{"foreach":"@outputs('Start_and_wait_for_an_approval')?['body/responses']","actions":{"Update_record_for_Approved_Status":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"new_expenseses","recordId":"@triggerOutputs()?['body/new_expensesid']","item/new_comments":"Requestor: @{triggerOutputs()?['body/new_comments']}\nApprover: @{items('Apply_to_each')?['comments']}","item/new_expensestatus":100000002},"authentication":"@parameters('$authentication')"}},"Send_requestor_approved_email":{"runAfter":{"Update_record_for_Approved_Status":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@outputs('Get_Requestor')?['body/internalemailaddress']","emailMessage/Subject":"Your expense request for \"@{triggerOutputs()?['body/new_name']}\" has been Approved","emailMessage/Body":"<p>Hi @{outputs('Get_Requestor')?['body/fullname']},<br>\n<br>\nYour expense request for \"@{triggerOutputs()?['body/new_name']}\" has been <strong>Approved<br>\n</strong>Approver: @{items('Apply_to_each')?['responder/displayName']}<br>\nComments: @{items('Apply_to_each')?['comments']}<br>\n<br>\nThanks,<br>\nAdmin</p>","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"}},"runAfter":{"Start_and_wait_for_an_approval":["Succeeded"]},"else":{"actions":{"For_each":{"foreach":"@outputs('Start_and_wait_for_an_approval')?['body/responses']","actions":{"Update_record_for_Rejected_Status":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"new_expenseses","recordId":"@triggerOutputs()?['body/new_expensesid']","item/new_comments":"Requestor: @{triggerOutputs()?['body/new_comments']}\nApprover: @{items('For_each')?['comments']}","item/new_expensestatus":100000003},"authentication":"@parameters('$authentication')"}},"Send_requestor_rejected_email":{"runAfter":{"Update_record_for_Rejected_Status":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@outputs('Get_Requestor')?['body/internalemailaddress']","emailMessage/Subject":"Your expense request for \"@{triggerOutputs()?['body/new_name']}\" has been Rejected","emailMessage/Body":"<p>Hi @{outputs('Get_Requestor')?['body/fullname']},<br>\n<br>\nYour expense request for \"@{triggerOutputs()?['body/new_name']}\" has been <strong>Rejected</strong><br>\nApprover: @{items('For_each')?['responder/displayName']}<br>\nComments: @{items('For_each')?['comments']}<br>\n<br>\nThanks,<br>\nAdmin</p>","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"}}},"expression":{"equals":["@outputs('Start_and_wait_for_an_approval')?['body/outcome']","Approve"]},"type":"If"},"Get_Requestor":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerOutputs()?['body/_createdby_value']"},"authentication":"@parameters('$authentication')"}},"App_Link":{"runAfter":{"Get_Requestor":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varAppLink","type":"string","value":"https://apps.powerapps.com/play/88bb6e0c-a198-4910-9833-81c63dad8059?tenantId=c626ebd1-1ad2-40a7-b7e4-dcd29d369a19"}]}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}